.d-button {
	position: relative;
    white-space: nowrap;
    display: inline-block;
    height: 22px;
    cursor: pointer;
    overflow: hidden;
    background: url(base/button-bg.gif) no-repeat;
}

.d-button .button-left {
    float: left;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    background: url(base/button-bg.gif) repeat-x 0 -22px;
    overflow: hidden;
    border: 0;
    margin: 0 3px 0 3px;
    padding: 0 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.d-button .button-left .icon {
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 20px;
    width: 0;
    height: 22px;
    line-height: 22px;
    margin: 0 1px;
}

.d-button .button-left .caption {
    line-height: 22px;
}

.d-ie .d-button .button-left .caption {
    vertical-align: baseline;
}

.d-button .button-right {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 3px;
    height: 22px;
    background: url(base/button-bg.gif) no-repeat right -44px;
}

.d-button-trigger .button-left{
    margin: 0 19px 0 3px;
}

.d-button-trigger .button-right {
    width: 19px;
}

.d-button-focused {
    background-position: 0 -132px;
}

.d-button-focused .button-left {
    background-position: 0 -154px;
}

.d-button-focused .button-right {
    background-position: right -176px;
}

.d-button-hover {
    background-position: 0 -66px;
}

.d-button-toggled {
    background-position: 0 -264px;
}

.d-button-click {
    background-position: 0 -198px;
}

.d-button .button-left-hover {
    background-position: 0 -88px;
}

.d-button .button-left-click {
    background-position: 0 -220px;
}

.d-button .button-left-toggled {
    background-position: 0 -286px;
}

.d-button .button-right-hover {
    background-position: right -110px;
}

.d-button .button-right-click {
    background-position: right -242px;
}

.d-button .button-right-toggled {
    background-position: right -308px;
}

.d-button-disabled .button-left .icon {
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.d-button-disabled .caption {
    color: #aaa;
}

.d-simple-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.d-icon-button {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(base/tool-button-bg.gif);
}

.d-icon-button .icon {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.d-ie6 .d-icon-button, .d-ie7 .d-icon-button {
    display: inline;
}

.d-ie6 .d-icon-button .icon, .d-ie7 .d-icon-button .icon{
    display: inline;
}

.d-icon-button-hover {
    background-position: -20px 0;
}

.d-icon-button-click {
    background-position: -40px 0;
}

.d-icon-button-toggled {
    background-position: -60px 0;
}

.d-icon-button-disabled .icon {
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.d-icon-button-trigger {
    display: inline-block;
    cursor: pointer;
    width: 28px;
    height: 20px;
    background: url(base/tool-button-bg.gif) -80px 0;
}

.d-icon-button-trigger .icon {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
}

.d-ie6 .d-icon-button-trigger, .d-ie7 .d-icon-button-trigger {
    display: inline;
}

.d-ie6 .d-icon-button-trigger .icon, .d-ie7 .d-icon-button-trigger .icon{
    display: inline;
}

.d-icon-button-trigger-hover {
    background-position: -108px 0;
}

.d-icon-button-trigger-click {
    background-position: -136px 0;
}

.d-icon-button-trigger-toggled {
    background-position: -164px 0;
}

.d-icon-button-trigger-disabled .icon {
    filter: alpha(opacity = 50);
    opacity: 0.5;
}
