.image-canvas{
    position: relative;
    overflow: auto;
    text-align: center;
}

.image-canvas .canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.image-canvas-overflow .canvas{
    cursor: pointer;
}

.image-canvas-select-proxy{
    position: absolute;

    background-color:#C6D6EF;
    border:1px solid #316AC5;
    filter:alpha(opacity=50);
    opacity:0.5;
    z-index:10;
}

.dorado-ie .image-canvas .canvas{
    filter: progid:DXImageTransform.Microsoft.BasicImage;
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage;
}

.image-canvas-magnifier {
    position: absolute;
    background-color: transparent;
    border: 1px solid #C4C4C4;
    cursor: crosshair;
    overflow: hidden;
    z-index: 10;
}

.image-canvas-magnifier img{
    position: absolute;
    left: 0;
    top: 0;
}

.image-canvas .highlight-area{
    position: absolute;
    filter:alpha(opacity=50);
    opacity:0.5;
}