.d-radio .icon{
	background: url(form/checkbox-radiobox.gif) 0 -20px;
}

.d-radio .unchecked{
	background-position: 0px -20px;
}

.d-radio-hover .unchecked{
	background-position: -16px -20px;
}

.d-radio .checked{
	background-position: -32px -20px;
}

.d-radio-hover .checked{
	background-position: -48px -20px;
}

.d-radiogroup-dirty{
	background: url(form/dirty-flag-left.gif) no-repeat left 2px;
}
