.d-split-panel .splitter-left, .d-split-panel .splitter-right{
	background: url(base/split-panel-vert-bg.gif);
}

.d-split-panel .splitter-top, .d-split-panel .splitter-bottom{
	background: url(base/split-panel-hori-bg.gif);
}

.d-split-panel .splitter-left .button{
	background: url(base/split-panel-vert-buttons.gif) no-repeat left;
}

.d-split-panel .splitter-right .button{
	background: url(base/split-panel-vert-buttons.gif) no-repeat right;
}

.d-split-panel .splitter-top .button{
	background: url(base/split-panel-hori-buttons.gif) no-repeat top;
}

.d-split-panel .splitter-bottom .button{
	background: url(base/split-panel-hori-buttons.gif) no-repeat bottom;
}

.d-split-panel .splitter-dragging{
	background: #000000;
	filter: alpha( opacity = 30);
	opacity: 0.3;
}

.d-split-panel .collapse-bar{
	background-color: #e4e4e4;
}

.d-split-panel .collapse-bar-hover{
	background-color: #efefef;
}

.d-split-panel .collapse-bar-left, .d-split-panel .collapse-bar-right{
	border: 1px solid #b9b9b9;
}

.d-split-panel .collapse-bar-top, .d-split-panel .collapse-bar-bottom{
	border: 1px solid #b9b9b9;
}

.d-split-panel .collapse-bar .button{
	background: transparent url(base/split-panel-collapse.gif);
}

.d-split-panel .collapse-bar-left .button{
	background-position: 0 0;
}

.d-split-panel .collapse-bar-left .button-hover{
	background-position: -17px 0;
}

.d-split-panel .collapse-bar-right .button{
	background-position: 0 -17px;
}

.d-split-panel .collapse-bar-right .button-hover{
	background-position: -17px -17px;
}

.d-split-panel .collapse-bar-top .button{
	background-position: 0 -34px;
}

.d-split-panel .collapse-bar-top .button-hover{
	background-position: -17px -34px;
}

.d-split-panel .collapse-bar-bottom .button{
	background-position: 0 -51px;
}

.d-split-panel .collapse-bar-bottom .button-hover{
	background-position: -17px -51px;
}
