.i-caption-bar{
	overflow: hidden;
	height: 24px;
	padding: 1px;
}

.i-caption-bar .caption{
	float: left;
	padding-left: 6px;
	line-height: 22px;
	height: 24px;
}

.i-caption-bar .caption-bar-icon{
	float: left;
	margin-left: 6px;
	margin-top: 1px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.i-caption-bar .button-group{
	float: right;
	margin: 1px 4px 0 0;
	height: 20px;
	padding: 0;
}

.i-caption-bar .button-group div{
	float: left;
}

.d-ie .i-caption-bar{
	height: 22px;
}

.d-ie .i-caption-bar .caption{
	line-height: 20px;
	height: 22px;
}

.d-ie .i-caption-bar .caption-bar-icon{
	margin-top: 0;
}
