.i-checkbox{
	display: inline-block;
	overflow: hidden;
	cursor: default;
	height: 20px;
}

.d-ie6 .i-checkbox, .d-ie7 .i-checkbox {
}

.i-checkbox .icon{
	float: left;
	width: 16px;
	height: 16px;
}

.i-checkbox .caption{
	vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
	line-height: 20px;
}

.d-ie6 .i-checkbox .caption, .d-ie7 .i-checkbox .caption {
    white-space: normal;
}

.i-checkbox-icononly{
	width: 16px;
}
