.i-tree {
	position: relative;
}

.i-tree .data-table {
	width: 100%;
	border-collapse: collapse;
}

.i-tree .data-table .row td {
	white-space: nowrap;
}

.i-tree-node .button {
}

.i-tree-node .icon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.i-tree-node .i-checkbox-icononly {
	height: 18px;
	margin-right: 4px;
}