.d-list-box {
    border: 1px #A1A1A1 solid;
    background: white;
	position: relative;
}

.d-list-box-focused {
}

.d-list-box .data-table {
    width: 100%;
}

.d-list-box .data-table .row td {
    border-right: 1px #E3E3E3 dotted;
    border-top: 1px #FFFFFF solid;
    border-bottom: 1px #E8E8E8 solid;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
    -moz-user-select: none;
}

.d-list-box .data-table .hover-row td {
    border-top-color: #EFEFEF;
    background: #EFEFEF;
}

.d-list-box .data-table .selected-row td {
    border-top-color: #CFF8D7;
    border-bottom-color: #8DD89D;
    background: #CFF8D7;
}

.d-list-box .data-table .current-row td {
    border-top-color: #E0F8E4;
    border-bottom-color: #6ECC81;
    background: #A3F1B2 url(list/current-row.gif) repeat-x top;
}

.d-list-box .data-table .drag-over-row td {
    border-top-color: #EFEFEF;
    border-bottom-color: #EFEFEF;
    background: #EFEFEF;
}

.d-list-box .data-table .highlighting-row td {
    background: url(none);
}

.d-list-box .preparing-area {
    background: url(list/preparing-area-bg.gif);
}

.d-list-scrolling-indicator {
    position: absolute;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: url(list/preparing-indicator-bg.gif) no-repeat center center;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-list-dragging-item {
    padding: 2px 4px;
    white-space: noWrap;
    border: 1px #A3A3A3 solid;
    background: #FAFAFA;
}

.d-list-dragging-insert-indicator {
	height: 1px;
    background: #FF8040;
	position: absolute;
}

