.toolbar {
    position: relative;
    height: 2.5em;
    padding: 5px 5px;
    background: 			#e9eaeb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e9eaeb)); /* Saf4+, Chrome */
    border: 1px solid 		#B3B3B3;
	color: 					#3E3E3E;
	font-weight: bold;
}

.toolbar .caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    line-height: 2.5em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: black;
}

.toolbar .toolbar-wrap {
    position: relative;
    z-index: 10;
}

.b-container {
}

.caption-bar {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack:justify;
    height: 29px;
    padding: 6px 10px;
    background-image:
        -webkit-gradient(linear, left top, left bottom,
            from(#b2bbca),
            color-stop(0.25, #a7b0c3),
            color-stop(0.5, #909cb3),
            color-stop(0.5, #8593ac),
            color-stop(0.75, #7c8ba5),
            to(#73839f));
    border-top: 1px solid #cdd5df;
    border-bottom: 1px solid #2d3642;
}

.caption-bar .caption{
    -webkit-box-flex: 1;
    text-align: center;
    margin: 0px;
    font: bold 20px/32px Helvetica, Sans-serif;
    letter-spacing: -1px;
    color: #fff;
}

.d-panel{
	overflow: hidden;
}

.d-panel .panel-body {
	background-color: #FFFFFF;
}

.d-panel .content-panel{
    position: relative;
}

.d-panel .button-panel {
    display: -webkit-box;
    -webkit-box-pack: center;
    padding: 2px 5px 5px 2px;
    text-align: center;
    height: 30px;
}

.d-panel .button-panel-left{
	text-align: left;
}

.d-panel .button-panel-right{
	text-align: right;
}

.d-panel .button-panel .d-button {
    margin-right: 3px;
}

.d-panel-showcaptionbar .panel-body{
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;

	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

.d-panel .toolbar {
    border: 1px solid 		#2A2A2A;
	background: 			#111111;
	color: 					#ffffff;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#111)); /* Saf4+, Chrome */
}

.d-panel .toolbar .caption{
    color: white;
}

.d-panel .toolbar .button {
    border: 1px solid 		#222;
	background: 			#333333;
	font-weight: bold;
	color: 					#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
}

.d-panel .toolbar .button-touched{
    border: 1px solid 		#000;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#5a5a5a)); /* Saf4+, Chrome */
}

.d-panel .toolbar .button.back:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
}

.d-panel .toolbar .button.back:hover:before, .d-panel .toolbar .button.back.touched:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */
}

.d-panel .toolbar .button.next:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
}

.d-panel .toolbar .button.next:hover:before, .d-panel .toolbar .button.next.touched:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */
}

.d-card-book {
	overflow: hidden;
}

.d-card-book .items-wrap {
	position: relative;
	height: 100%;
}

.d-card-book .items-wrap .card-item {
	position: absolute;
	left: 0;
	top: 0;
}

.split-view {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: hidden;
}

.split-view .main-panel{
    -webkit-box-flex: 1;
}

.d-group-box {
}

.d-group-box .group-box-bar .bar-caption{
    color: #333;
    margin: 1em 0.7em 0.3em;
    color: #333;
    font-weight: bold;
}

.d-group-box .body{
    padding: 0;
    /**
    -webkit-border-radius: 4px;
    border-radius: 4px;
    **/
    overflow: hidden;

    border: 1px solid 		#B3B3B3;
	color: 					#333333;
	background: 			#f0f0f0;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#ddd));*/
}

.d-group-box .body .content-panel{
}

.d-group-box .body .form-element {
    border-bottom: 1px solid #ddd;
}

.d-group-box .body .form-element:last-child {
    border-bottom: 0;
}

.d-group-box .body .form-element .text-editor {
    border: 0;
    background-image: none;
}

.d-dialog{
    overflow: hidden;
    position: absolute;

    padding: 6px;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
    background-color: black;
    background-image: none;
}

.d-dialog .panel-body {
    background-color: #FFFFFF;
    padding:  10px;
}

.d-dialog .content-panel{
    position: relative;
}

.d-dialog .button-panel {
    display: -webkit-box;
    -webkit-box-pack: center;
    padding: 2px 5px 5px 2px;
    text-align: center;
    height: 30px;
}

.d-dialog .button-panel-left{
    text-align: left;
}

.d-dialog .button-panel-right{
    text-align: right;
}

.d-dialog .button-panel .d-button {
    margin-right: 3px;
}

.d-dialog-showcaptionbar .panel-body{
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;

    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.d-dialog .toolbar {
    border: 1px solid 		#2A2A2A;
    background: 			#111111;
    color: 					#ffffff;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#111)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .caption{
    color: white;
}

.d-dialog .toolbar .button {
    border: 1px solid 		#222;
    background: 			#333333;
    font-weight: bold;
    color: 					#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .button:hover {
    border: 1px solid 		#000;
    background: 			#444444;
    font-weight: bold;
    color: 					#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .button-down{
    border: 1px solid 		#000;
    background: 			#3d3d3d;
    font-weight: bold;
    color: 					#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#5a5a5a)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .button.back:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .button.back:hover:before, .d-dialog .toolbar .button.back.touched:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .button.next:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
}

.d-dialog .toolbar .button.next:hover:before, .d-dialog .toolbar .button.next.touched:before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */
}