/**
.date-picker {
    border: 1px solid #ddd;
    background-color: white;
    overflow: hidden;
}

.date-picker .body {
    width: 100%;
}

.date-picker .body {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.date-picker .body .picker-slot {
}

.date-picker .body .picker-slot .slot-mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: -webkit-box;
    display: box;
    -webkit-box-align: stretch;
    box-align: stretch;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    box-pack: center;
    pointer-events: none;
}

.date-picker .body .picker-slot .slot-mask .slot-bar {
    border-top: 0.12em solid #1a70dd;
    border-bottom: 0.12em solid #1a70dd;
    height: 2.5em;
    background-color: rgba(13, 114, 242, 0.3);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(85, 156, 246, 0.3)), color-stop(50%, rgba(37, 128, 244, 0.3)), color-stop(51%, rgba(13, 114, 242, 0.3)), color-stop(100%, rgba(11, 102, 218, 0.3)));
    background-image: linear-gradient(rgba(85, 156, 246, 0.3), rgba(37, 128, 244, 0.3) 50%, rgba(13, 114, 242, 0.3) 51%, rgba(11, 102, 218, 0.3));
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0.2em 0.2em;
}
*/

.picker {
    position: absolute;
    
    padding: 6px;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
    background-color: black;
    background-image: none;
}

.picker .anchor {
    width: 1.631em;
    height: 0.7em;
    position: absolute;
    z-index: 1;
    -webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAPCAYAAABut3YUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNpi/PX7LwOFwAyIG6HseiA+Ra5BjBQ6xg+IVwAxJ5T/HYgjgHgTOYYxUeCQUiBeh+QQBih7HVSOLiHDDMSTgTiTgLrpQJwLxH9p5RhOaLT4EakeFF3RQPyF2o6RhkaBGYkheRmIPYH4KbXSjC4QnyTDIch6danhGCcgPgwNGXKBNNQMb0ocEwXE24GYn4FyADJjI76Ej88x7UC8FIjZGKgHQDlxGtRsZmISMMjy+dBQoSXYBC0gv+NyDD80xzgx0AeAqg4fIH6NHk0qQHyMjg6B1WvHYDkNFjIgwS1ALMowMOAjEAeBHINe2Q0U+AUQYACQ10C2QNhRogAAAABJRU5ErkJggg==') no-repeat;
    -webkit-mask-size: 1.631em 0.7em;
    overflow: hidden;
    background-color: black;

    left: 25px; top: -10px; 
}

.overlay {
    position: relative;

    padding: 6px;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
    background-color: black;
    background-image: none;
}

.d-message-box {
    position: relative;

    padding: 6px;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
    background-color: black;
    background-image: none;
}

.d-message-box .content-panel{
    padding:  10px;
}
