.d-caption-bar{
	background: #F8F8F8 url(base/caption-bar-bg.gif) bottom repeat-x;
    height: 24px;
	overflow: hidden;
	padding: 1px;
}

.d-caption-bar .caption{
	float: left;
    padding-left: 6px;
    line-height: 22px;
    height: 24px;
}

.d-caption-bar .caption-bar-icon{
	float: left;
	margin-left: 6px;
	margin-top: 1px;
    float: left;
    width: 20px;
    height: 20px;
    background: transparent 0 center no-repeat;
}

.d-caption-bar .button-group{
    float: right;
	margin: 1px 4px 0 0;
    height: 20px;
    padding:0;
}

.d-caption-bar .button-group div{
    float: left;
}

.d-ie .d-caption-bar{
	height: 22px;
}

.d-ie .d-caption-bar .caption{
	line-height: 20px;
    height: 22px;
}
.d-ie .d-caption-bar .caption-bar-icon{
	margin-top: 0;
}
