body, input, textarea, button {
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

.d-shadow-ie {
    background: #777;
}

.d-shadow-drop {
    -moz-box-shadow: 2px 2px 3px #bbbbbb;
    -webkit-box-shadow: 2px 2px 3px #bbbbbb;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.d-shadow-sides {
    -moz-box-shadow: 0 1px 4px #bbbbbb;
    -webkit-box-shadow: 0 1px 4px #bbbbbb;
    box-shadow: 0 1px 4px #bbbbbb;
}

.d-shadow-frame {
    -moz-box-shadow: 0 0 5px #bbbbbb;
    -webkit-box-shadow: 0 0 5px #bbbbbb;
    box-shadow: 0 0 5px #bbbbbb;
}

.d-modal-mask {
    filter: alpha(opacity = 30);
    opacity: 0.3;
    background: url(common/model-cover-bg.gif);
}

.d-modal-mask-transparent {
    filter: alpha(opacity = 0);
    opacity: 0;
    background: white;
}

.d-animate-zoom-proxy {
    background-color: #DADADA;
    border: 1px solid #7B7B7B;
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.d-task-group-panel .panel-header-left {
    background: url(common/tip-corners.gif) no-repeat scroll 0 top;
    margin-right: 2px;
}

.d-task-group-panel .panel-header-right {
    background: url(common/tip-corners.gif) no-repeat scroll right -4px;
    padding: 2px 0 0 0;
    margin-right: -2px;
}

.d-task-group-panel .panel-body-left {
    background: url(common/tip-lr.gif) repeat-y 0 0;
    padding-left: 2px;
}

.d-task-group-panel .panel-body-right {
    background: url(common/tip-lr.gif) repeat-y right 0;
    padding-right: 2px;
}

.d-task-group-panel .panel-body {
    background: white;
}

.d-task-group-panel .panel-footer-left {
    background: url(common/tip-corners.gif) no-repeat scroll 0 -2px;
    margin-right: 2px;
}

.d-task-group-panel .panel-footer-right {
    background: url(common/tip-corners.gif) no-repeat scroll right bottom;
    padding: 2px 0 0 0;
    margin-right: -2px;
}

.d-task-group-panel .content-panel {
    padding: 0 3px;
    background-color: white;
}

.d-daemon-task-indicator {
    width: 200px;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-daemon-task-indicator .content-panel {
    padding: 3px;
}

.d-main-task-indicator {
    width: 300px;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-main-task-indicator .content-panel {
    padding: 8px;
}

.d-dragging-indicator {
}

.d-dragging-indicator .icon {
	width: 24px;
	height: 24px;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-dragging-indicator .accept-icon {
	background: url(common/accept.gif) no-repeat;
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.d-dragging-indicator .denied-icon {
	background: url(common/denied.gif) no-repeat;
}

.d-dragging-indicator .content-container {
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-dragging-indicator .default-content {
	width: 38px;
	height: 18px;
	background: url(common/dragging-content.gif) no-repeat;
}