.d-iframe {
    position: relative;
    border: 1px solid #ddd;
}

.d-iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.d-iframe iframe.hidden {
    z-index: -1;
}

.d-iframe .frame-loading-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
}

.d-iframe .frame-loading-cover .frame-loading-image {
    width: 32px;
    height: 32px;
    position: absolute;
    background: url(common/loading.gif) center center no-repeat;
}