.d-text-box {
    height: 18px;
    border: 1px #B0B0B0 solid;
    background: white;
}

.d-text-box .editor {
	white-space: nowrap;
    line-height: 18px;
    border: 0;
    margin: 0;
    background: url(form/text-field-bg.gif) repeat-x;
}

.d-text-box .blank-text {
	font-style: italic;
	color: #B2B2B2;
}

.d-text-box .d-trigger {
	width: 18px;
	height: 18px;
	border: 0;
	cursor: pointer;
	background: url(form/dropdown-trigger-bg.gif) no-repeat;
}

.d-text-box .dirty-flag {
	position: absolute;
	right: -1px;
	top: 0;
	width: 5px;
	height: 5px;
	background: url(form/dirty-flag.gif);
	z-index: 1;
}

.d-text-box-hover {
	border: 1px #707070 solid;
}

.d-text-box-hover .d-trigger {
	background-position: -18px 0;
}

.d-text-box-focused {
	border: 1px #6ECC81 solid;
}

.d-text-box-focused .editor{
	background: url(form/text-field-bg-focus.gif) repeat-x;
}

.d-text-box-focused .d-trigger {
	background-position: -36px 0;
}

.d-text-box-focused .d-trigger-down {
	background-position: -54px 0;
}

.d-text-box-warn {
	border: 1px #DDB147 solid;
}

.d-text-box-warn .editor {
	background: url(form/text-field-bg-warn.gif) repeat-x bottom;
}

.d-text-box-warn .d-trigger {
	background-position: -72px 0;
}

.d-text-box-warn .d-trigger-down {
	background-position: -90px 0;
}

.d-text-box-error {
	border: 1px #FC3737 solid;
}

.d-text-box-error .editor {
	background: url(form/text-field-bg-error.gif) repeat-x bottom;
}

.d-text-box-error .d-trigger {
	background-position: -108px 0;
}

.d-text-box-error .d-trigger-down {
	background-position: -126px 0;
}

.d-text-box-readonly {
	border: 1px #A1A1A1 solid;
}

.d-text-box-readonly .editor {
	background: #F8F8F8;
}

.d-text-box-readonly .d-trigger {
	background-position: -144px 0;
}

.d-text-box .editor .text {
    display: inline-block;
    line-height: 16px;
    height: 18px;
    vertical-align: top;
	margin: 0 2px 0 2px;
}

.d-text-box .editor .slot {
    display: inline-block;
    height: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
}

.d-text-box .editor .slot-selected {
    background-color: #3596F7;
    color: white;
}

.d-text-area {
	height: 18px;
	border: 1px #B0B0B0 solid;
	background: white;
}

.d-text-area .textarea {
	border: 0;
	margin: 0;
	padding: 0;
	background: url(form/text-field-bg.gif) repeat-x;
}

.d-text-area .d-trigger-panel {
	background: url(form/text-area-trigger-panel.gif) repeat-y;
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
}

.d-text-area .d-trigger {
	left: 2px;
	margin-bottom: 1px;
}

.d-text-area .blank-text {
	font-style: italic;
	color: #B2B2B2;
}

.d-text-area .dirty-flag {
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 5px;
	background: url(form/dirty-flag.gif);
}

.d-text-area-focused {
	border: 1px #6ECC81 solid;
}

.d-text-area-focused .textarea{
	background: url(form/text-field-bg-focus.gif) repeat-x;
}

.d-text-area-warn {
	border: 1px #FFCC66 solid;
}

.d-text-area-warn .editor {
	background: url(form/text-field-bg-warn.gif) repeat-x bottom;
}

.d-text-area-error {
	border: 1px #FC3737 solid;
}

.d-text-area-error .textarea {
	background: url(form/text-field-bg-error.gif) repeat-x bottom;
}

.d-text-area-readonly {
	border: 1px #A1A1A1 solid;
}

.d-text-area-readonly .textarea {
	background: #F8F8F8;
}