.d-year-month-picker{
	border: 0;
	background: #FFFFFF url(base/date-picker-bg.gif) 0 -200px repeat-x;
}

.d-year-month-picker .year-table{
	border-left: 1px dotted #325573;
}

.d-year-month-picker .year-table .prev-year-button, .d-year-month-picker .year-table .next-year-button{
	background: url(common/icons.gif) no-repeat -60px -280px;
}

.d-year-month-picker .year-table .prev-year-button{
	background-position: -40px -280px;
}

.d-year-month-picker .year-table td.hover, .d-year-month-picker .month-table td.hover,{
	background: url(base/ym-picker-hover-cell.gif) no-repeat center center;
}

.d-year-month-picker .year-table td:hover, .d-year-month-picker .month-table td:hover{
	background: url(base/ym-picker-hover-cell.gif) no-repeat center center;
}

.d-year-month-picker .year-table .btn-row td:hover{
	background-image: none;
}

.d-year-month-picker .year-table td.selected, .d-year-month-picker .month-table td.selected{
	background: url(base/ym-picker-current-cell.gif) no-repeat center center;
}
