.d-drop-down-box {
	border: 1px #aaaaaa solid;
	background-color: #FFFFFF;
	position: absolute;
}

.d-trigger-icon-drop {
	background: url(form/dropdown-trigger.gif) no-repeat;
}

.d-trigger-icon-search {
	background: url(form/dropdown-trigger.gif) no-repeat -18px 0;
}

.d-trigger-icon-date {
	background: url(form/dropdown-trigger.gif) no-repeat -36px 0;
}

.d-trigger-icon-custom {
	background: url(form/dropdown-trigger.gif) no-repeat -54px 0;
}

.d-trigger-icon-clear {
	background: url(form/dropdown-trigger.gif) no-repeat -74px 0;
}

.d-trigger-icon-filter {
	background: url(form/dropdown-trigger.gif) no-repeat -90px 0;
}
.d-trigger-icon-reset {
	background: url(form/dropdown-trigger.gif) no-repeat -108px 0;
}

.d-text-box .d-trigger-clear {
	width: 15px;
}
