.d-portal{
	overflow: hidden;
}

.d-portal .portal-column{
	overflow: hidden;
	float: left;
}

.d-portal .portal-column-hover{
	background: #F6FAFF;
}

.d-portal .place-holder{
    border: 2px dashed #BBBBBB;
	width: 200px;
	height: 200px;
}