.d-radio {
    height: 20px;
    overflow: hidden;
    cursor: default;
}

.d-radio .icon {
    float: left;
    width: 16px;
    height: 20px;
    background: url(form/check-radio-button.png) no-repeat -144px center;
}

.d-radio .unchecked {
    background-position: -144px center;
}

.d-radio-hover .unchecked {
    background-position: -160px center;
}

.d-radio-click .unchecked {
    background-position: -176px center;
}

.d-radio .checked {
    background-position: -192px center;
}

.d-radio-hover .checked {
    background-position: -208px center;
}

.d-radio-click .checked {
    background-position: -224px center;
}

.d-radio .text {
    line-height: 18px;
    vertical-align: middle;
    margin-right: 8px;
}

.d-radiogroup {
	height: 18px;
}

.d-radiogroup-dirty {
    background: url(form/dirty-flag.gif) no-repeat left 2px;
}

.d-radiogroup-flow .d-radio {
    float: left;
}