.i-icon-button{
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.i-icon-button .icon{
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.d-icon-button {
    background: none;
}

.d-icon-button-hover {
    background-position: -20px 0;
}

.d-icon-button-click {
    background-position: -40px 0;
}

.d-icon-button-toggled {
    background-position: -60px 0;
}

.d-icon-button-disabled .icon {
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.i-year-month-picker{
    width: 100%;
    height: 330px;
}

.i-year-month-picker td{
    height: 35px;
}

.i-year-month-picker .month-table{
    width: 49%;
    table-layout: fixed;
}

.i-year-month-picker .year-table{
    width: 49%;
    float: right;
    table-layout: fixed;
}

.i-year-month-picker .year-table .btn-row{
    height: 35px;
}

.i-year-month-picker .year-table .number-row td, .i-year-month-picker .month-table .number-row td{
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    padding: 1px;
}

.i-year-month-picker .btns-pane{
    position: absolute;
    float: left;
    clear: left;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 46px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
}

.i-year-month-picker .btns-pane .i-button{
    margin-right: 5px;
}

.d-year-month-picker{
    border: 0;
    background: #FFFFFF none 0 0 repeat-x;
}

.d-year-month-picker .year-table{
    border-left: 1px dotted #325573;
}

.d-year-month-picker .year-table .prev-year-button, .d-year-month-picker .year-table .next-year-button{
    background: url(arrows.png) no-repeat -32px 0;
}

.d-year-month-picker .year-table .prev-year-button{
    background-position: 0 0;
}

.d-year-month-picker .year-table td, .d-year-month-picker .month-table td{
    padding: 1px;
    cursor: pointer;
}

.d-year-month-picker .year-table .btn-row td:hover{
    background-image: none;
}

.d-year-month-picker .year-table td.selected, .d-year-month-picker .month-table td.selected{
    background: -webkit-gradient(linear, left top, left bottom, from(#e6faea), to(#a1e4ae)) no-repeat center center;
    border: 1px solid #56c56e;
    padding: 0;
}

.i-date-picker{
    position: relative;
    border-collapse: collapse;
    width: 100%;
    height: 345px;
}

.i-date-picker .year-month-block{
    text-align: center;
    width: 100%;
    height: 32px;
    padding-top: 3px;
}

.i-date-picker .pre-button-div{
    float: left;
    padding-left: 4px;
    margin-right: -64px;
    width: 64px;
}

.i-date-picker .next-button-div{
    float: right;
    padding-right: 4px;
    margin-left: -64px;
    width: 64px;
}

.i-date-picker .pre-button-div .i-icon-button, .i-date-picker .next-button-div .i-icon-button{
    float: left;
}

.i-date-picker .year-month-label{
    width: auto;
    cursor: pointer;
    text-align: center;
    height: 32px;
    line-height: 32px;
    margin: 0 68px 0 68px;
}

.i-date-picker .date-header{
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 33px;
}

.i-date-picker .date-block{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 198px;
}

.i-date-picker .date-block .date-table{
    position: absolute;
    left: 0;
    top: 0;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    width: 200%;
}

.i-date-picker .date-header .date-table td, .i-date-picker .date-block .date-table td{
    height: 33px;
    text-align: center;
}

.i-date-picker .spinner-block{
    position: absolute;
    height: 30px;
    left: 5px;
    bottom: 0;
}

.i-date-picker .button-block{
    position: absolute;
    height: 40px;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.i-date-picker .button-block .i-button{
    cursor: pointer;
    margin-right: 5px;
}

.i-date-picker .i-year-month-picker{
    position: absolute;
    left: 0;
    top: 0;
}

.i-date-picker .time-block{
    text-align: center;
    width: 100%;
    height: 22px;
    padding-left: 5px;
}

.i-date-picker .time-picker-block{
    vertical-align: middle;
    text-align: right;
    float: left;
    width: 90px;
    height: 35px;
    line-height: 33px;
    font-size: 10px;
}

.d-date-picker {
    background-color: white;
}

.d-date-picker .year-month-block{
    border-width: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8));
    font-weight: bold;
}

.d-date-picker .year-month-block .pre-year-button, .d-date-picker .year-month-block .pre-month-button,
.d-date-picker .year-month-block .next-year-button, .d-date-picker .year-month-block .next-month-button{
    background: url(arrows.png) no-repeat;
}

.d-date-picker .year-month-block .pre-year-button{
    background-position: -64px 0;
}

.d-date-picker .year-month-block .pre-month-button{
    background-position: 0 0;
}

.d-date-picker .year-month-block .next-year-button{
    background-position: -96px 0;
}

.d-date-picker .year-month-block .next-month-button{
    background-position: -32px 0;
}

.d-date-picker .date-header{
    border-color: gray;
    border-bottom: 1px #B7B7B7 solid;
    background: #eee;
}

.d-date-picker .date-block .date-table{
    border-color: gray;
    background: transparent no-repeat;
}

.d-date-picker .date-block .date-table td {
    padding: 1px;
}

.d-date-picker .date-block .date-table td.selected-date{
    padding: 0;
    border: 1px solid #56c56e;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6faea), to(#a1e4ae)) no-repeat center center;
}

.d-date-picker .date-block .date-table td.pre-month{
    color: #CFCFCF;
    background-color: #FFFFFF;
}

.d-date-picker .date-block .date-table td.next-month{
    color: #CFCFCF;
    background-color: #FFFFFF;
}

.d-date-picker .d-year-month-picker{
    border: 0;
}

.d-date-picker .time-block{
    border-width: 0;
}
