<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- JdbcEnviroment -->
    <bean parent="dorado.jdbcEnvTemplate">
        <property name="name" value="mysql" />
        <property name="dataSource">
            <bean class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
                <property name="user" value="dorado"/>
                <property name="password" value="dorado"/>
                <property name="URL" value="jdbc:mysql://192.168.18.241/DORADO?useUnicode=true&amp;characterEncoding=UTF-8"/>
            </bean>
        </property>
        <property name="dialect">
            <bean parent="dorado.jdbc.mysqlDialect"/>
        </property>
    </bean>
    
    <!-- DBM configuration -->
    <bean parent="dorado.jdbcConfigTemplate">
        <property name="configLocations">
            <list>
                <value>classpath:com/bstek/dorado/jdbc/mysql/v55/*.dbm.xml</value>
            </list>
        </property>
    </bean>
</beans>
