<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.bstek.com/dorado/schema"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.bstek.com/dorado/schema http://www.bstek.com/dorado/schema/spring-dorado-7.0.xsd">
	<import resource="loader-parser-context.xml" />

	<bean id="dorado.scopeManager" class="com.bstek.dorado.web.WebScopeManager" />
	<bean parent="dorado.beanFactoryRegister">
		<property name="beanFactories">
			<list>
				<bean class="com.bstek.dorado.web.WebSpringBeanFactory" />
			</list>
		</property>
	</bean>

	<bean id="dorado.cacheBusterGenerator" class="com.bstek.dorado.web.resolver.DefaultCacheBusterGenerator" />

	<bean id="dorado.resourceTypeManager" class="com.bstek.dorado.web.resolver.ResourceTypeManager" />
	<bean id="dorado.resourceTypeLoader" abstract="true" class="com.bstek.dorado.web.resolver.ResourceTypeLoader">
		<property name="resourceTypeManager" ref="dorado.resourceTypeManager" />
		<property name="xmlDocumentBuilder" ref="dorado.xmlDocumentBuilder" />
		<property name="resourceTypeParser">
			<bean class="com.bstek.dorado.web.resolver.ResourceTypeParser" />
		</property>
	</bean>
	<bean parent="dorado.resourceTypeLoader">
		<property name="configLocations">
			<list merge="true">
				<value>com/bstek/dorado/web/resolver/resource-types.xml</value>
				<value>home:resource-types.xml</value>
			</list>
		</property>
	</bean>

	<!-- Expression Initializer -->
	<bean parent="dorado.expressionVarsInitializerRegister">
		<property name="contextInitializer">
			<bean class="com.bstek.dorado.web.WebContextVarsInitializer" />
		</property>
	</bean>

	<bean id="dorado.packagesConfigManager" class="com.bstek.dorado.web.loader.PackagesConfigManager">
		<property name="xmlDocumentBuilder" ref="dorado.xmlDocumentBuilder" />
		<property name="xmlParser" ref="dorado.packagesConfigParser" />
		<property name="configLocations">
			<list>
				<value>com/bstek/dorado/web/loader/packages-config.xml</value>
			</list>
		</property>
	</bean>
	<bean id="dorado.packagesConfigLoader" abstract="true" class="com.bstek.dorado.web.loader.PackagesConfigLoader">
		<property name="packagesConfigManager" ref="dorado.packagesConfigManager" />
	</bean>
</beans>
