<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="URL" value="jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1" />
	</bean>
    
    <bean parent="dorado.jdbcEnvTemplate">
        <property name="name" value="h2" />
        <property name="dataSource" ref="dataSource"/>
        <property name="dialect">
            <bean parent="dorado.jdbc.h2Dialect"/>
        </property>
    </bean>
    
    <bean class="com.bstek.dorado.jdbc.TestJdbcDbmBeanPostProcessor"/>
    <bean id="testJdbcConfigLoader" parent="dorado.jdbcConfigLoader"/> 
</beans>
