*:focus {
    outline: none;
}

html, body {
    height: 100%;
}

.d-ie6 * {
    position: relative;
}

.d-shadow-ie {
    display: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}

.i-modal-mask {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    background: gray;
}

.d-animate-zoom-proxy {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.d-task-group-panel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    border: 0;
}

.d-task-group-panel .panel-header-left {
    font-size: 0;
    line-height: 0;
}

.d-task-group-panel .panel-header-right {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.d-task-group-panel .panel-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.d-task-group-panel .panel-footer-right {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.d-task-group-panel .content-panel .task-list {
    padding: 3px 0 3px 10px;
    list-style: none;
}

.d-task-group-panel .content-panel .task-list .task-item {
    width: 100%;
}

.d-task-group-panel .content-panel .task-list .task-item .interval-span {
    float: right;
}

.d-daemon-task-indicator .task-list {
    margin: 0;
}

.d-main-task-indicator .task-list {
    margin: 0;
}

.d-dragging-indicator {
    cursor: pointer;
    position: absolute;
}

.d-dragging-indicator .icon {
    cursor: pointer;
}

.d-dragging-indicator .content-container {
    position: absolute;
}

body, input, textarea, button {
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

.d-shadow-ie {
    background: #777;
}

.d-shadow-drop {
    -moz-box-shadow: 2px 2px 3px #bbbbbb;
    -webkit-box-shadow: 2px 2px 3px #bbbbbb;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.d-shadow-sides {
    -moz-box-shadow: 0 1px 4px #bbbbbb;
    -webkit-box-shadow: 0 1px 4px #bbbbbb;
    box-shadow: 0 1px 4px #bbbbbb;
}

.d-shadow-frame {
    -moz-box-shadow: 0 0 5px #bbbbbb;
    -webkit-box-shadow: 0 0 5px #bbbbbb;
    box-shadow: 0 0 5px #bbbbbb;
}

.d-modal-mask {
    filter: alpha(opacity = 50);
    opacity: 0.5;
    background-image: url(common/modal-cover-bg.png);
}

.d-ie .d-modal-mask {
    filter: alpha(opacity = 50);
    opacity: 0.5;
    background: gray;
}

.d-modal-mask-transparent {
    filter: alpha(opacity = 0);
    opacity: 0;
    background: white;
}

.d-animate-zoom-proxy {
    background-color: #DADADA;
    border: 1px solid #7B7B7B;
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.d-task-group-panel {
    border: 1px #D0D0D0 solid;
    border-radius: 5px;
    background: #FFFFFF;
}

.d-daemon-task-indicator {
    width: 200px;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-daemon-task-indicator .content-panel {
    padding: 3px;
}

.d-main-task-indicator {
    width: 300px;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-main-task-indicator .content-panel {
    padding: 8px;
}

.d-dragging-indicator {
}

.d-dragging-indicator .icon {
    width: 24px;
    height: 24px;
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-dragging-indicator .accept-icon {
    background: url(common/accept.png) no-repeat;
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.d-dragging-indicator .denied-icon {
    background: url(common/denied.png) no-repeat;
}

.d-dragging-indicator .content-container {
    filter: alpha(opacity = 80);
    opacity: 0.8;
}

.d-dragging-indicator .default-content {
    width: 38px;
    height: 18px;
    background: url(common/dragging-content.png) no-repeat;
}