.i-simple-button {
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.i-icon-button {
  display: inline-block;
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.i-icon-button .icon {
  display: inline-block;
  float: left;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-left: 5px;
  background-repeat: no-repeat;
}
.d-ie6 .i-icon-button,
.d-ie7 .i-icon-button {
  display: inline;
}
.d-ie6 .i-icon-button .icon,
.d-ie7 .i-icon-button .icon {
  display: inline;
}
.i-icon-button-disabled {
  cursor: default;
}
.i-icon-button-trigger {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 34px;
}
.i-icon-button-trigger .icon {
  display: inline-block;
  float: left;
  width: 34px;
  height: 34px;
}
.d-ie6 .i-icon-button-trigger,
.d-ie7 .i-icon-button-trigger {
  display: inline;
}
.d-ie6 .i-icon-button-trigger .icon,
.d-ie7 .i-icon-button-trigger .icon {
  display: inline;
}
.d-icon-button {
  background: url(simple-button.png);
}
.d-icon-button-hover {
  background-position: -34px 0;
}
.d-icon-button-click {
  background-position: -68px 0;
}
.d-icon-button-toggled {
  background-position: -68px 0;
}
.d-icon-button-disabled .icon {
  filter: alpha(opacity = 50);
  opacity: 0.5;
}
.d-icon-button-trigger {
  background: url(simple-button.png) -102px 0;
}
.d-icon-button-trigger-hover {
  background-position: -152px 0;
}
.d-icon-button-trigger-click {
  background-position: -202px 0;
}
.d-icon-button-trigger-toggled {
  background-position: -202px 0;
}
.d-icon-button-trigger-disabled .icon {
  filter: alpha(opacity = 50);
  opacity: 0.5;
}
