.start-menu-panel{
}

.start-menu-panel .content-panel{
    padding: 0;
    background-color: #d7d7d7;
}

.start-menu-panel .left-menu {
    padding: 3px;
    border: 1px solid #808080;
    border-top: 0;
    background-image: none;
    background-color: #efefef;
}

.start-menu-panel .left-menu .group-content .menu-item {
    color: black;
    font-weight: bold;
}

.start-menu-panel .right-menu {
    border: 0;
    background-image: none;
    background-color: transparent;
}

.shortcut {
    display: block;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.shortcut-small-icon{
	width: 59px;
	height: 69px;
}

.shortcut-medium-icon{
	width: 75px;
	height: 85px;
}

.shortcut-big-icon {
	width: 91px;
	height: 101px;
}

.shortcut .icon {
    background-position: 50% 50%;
    display: inline-block;
}

.shortcut-small-icon .icon{
	width: 32px;
	height: 32px;
}

.shortcut-medium-icon .icon{
	width: 48px;
	height: 48px;
}

.shortcut-big-icon .icon{
	width: 64px;
	height: 64px;
}

.shortcut .caption {
    font-size: 9pt;
    display: block;
    color: white;
	/**
    white-space: nowrap;
    **/
	word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortcut-focused .caption{
    word-break: break-all;
    white-space: normal;
    background: #B8BCB7;
    color: black;
}

.d-desktop {
    background: transparent no-repeat center center;
	margin: 0;
    padding: 10px;
    position: relative;
}

.d-desktop .shortcut{
    position: absolute;
}

.d-desktop .shortcut-place-holder{
    position: absolute;
    background-color: #DADADA;
    border: 1px solid #CBCBCB;
    filter: alpha( opacity = 50);
	opacity: 0.5;
    display: none;
}

.d-desktop .shortcut-place-holder-small {
	width: 59px;
	height: 69px;
}

.d-desktop .shortcut-place-holder-medium {
	width: 75px;
    height: 85px;
}

.d-desktop .shortcut-place-holder-big {
	width: 91px;
	height: 101px;
}

.task-button {
    margin: 0 1px;
    white-space: nowrap;
    height: 23px;
    cursor: pointer;
    overflow: hidden;
    background: url(desktop/task-buttons.png) no-repeat;
}

.task-button .button-left {
    float: left;
    height: 23px;
	line-height: 22px;

    background: url(desktop/task-buttons.png) repeat-x 0 -69px;
    overflow: hidden;
    border: 0;
    margin: 0 0 0 5px;
    padding: 0 4px;
    cursor: pointer;
	vertical-align: middle;
}

.task-button .button-left .icon {
    float: left;
    background: no-repeat left center;
    padding-left: 18px;
    width: 0;
    height: 23px;
	line-height: 22px;
    margin: 0 1px;
}

.task-button .button-left .default-icon {
	background-image: url(desktop/task-button-default-icon.png);
}

.task-button .button-left .caption {
    float: left;
	line-height: 23px;
    color: #364056;
}

.d-ie .task-button .button-left .caption{
	vertical-align: baseline;
}

.task-button .button-right {
    float: left;
    width: 5px;
    height: 23px;
    background: url(desktop/task-buttons.png) no-repeat right 0;
}

.task-button-hover {
    background-position: 0 -23px;
}

.task-button-hover .button-left {
    background-position: 0 -92px;
}

.task-button-hover .button-right {
    background-position: right -23px;
}

.task-button-current {
    background-position: 0 -46px;
}

.task-button-current .button-left {
    background-position: 0 -115px;
}

.task-button-current .button-right {
    background-position: right -46px;
}

.task-button-disabled .caption {
    color: #aaa;
}

.d-task-bar {
    height: 24px;
    position: relative;
    background: transparent url(desktop/taskbar-bg.png) repeat-x 0 0;
}

.d-task-bar .left-wrap {
    height: 24px;
    line-height: 21px;
}

.d-task-bar .left-wrap .quick-buttons {
	float: left;
	padding-top: 2px;
    padding-right: 5px;
    background: transparent url(desktop/quick-button-separator.gif) right 2px no-repeat;
}

.d-task-bar .left-wrap .quick-buttons .d-icon-button{
	float: left;
}

.d-task-bar .left-wrap .task-buttons-wrap {
    position: relative;
    height: 24px;
    overflow: hidden;
}

.d-task-bar .left-wrap .task-buttons-wrap .task-buttons {
    margin-top: 1px;
    margin-right: 20px;
    height: 23px;
    overflow: hidden;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner{
    position: absolute;
    width: 20px;
    height: 24px;
    right: 0;
    top: 0;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .up-button,
.d-task-bar .left-wrap .task-buttons-wrap .spinner .down-button{
    width: 20px;
    height: 12px;
    font-size: 1%;
    cursor: pointer;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .up-button{
    background: transparent url(desktop/spinner-button.png) 0 0;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .up-button-hover{
    background-position: -20px 0;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .up-button-click{
    background-position: -40px 0;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .down-button{
    background: transparent url(desktop/spinner-button.png) 0 -12px;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .down-button-hover{
    background-position: -20px -12px;
}

.d-task-bar .left-wrap .task-buttons-wrap .spinner .down-button-click{
    background-position: -40px -12px;;
}

.d-task-bar .left-wrap .task-buttons-wrap .task-buttons .task-button{
    float: left;
}

.d-task-bar .right-wrap{
    float: right;
    height: 24px;
    background: transparent url(desktop/taskbar-bg.png) repeat-x 0 0;
}

.d-task-bar .right-wrap .tray-buttons{
	float: left;
	height: 22px;
	padding-top: 2px;
}

.d-task-bar .right-wrap .tray-buttons .d-icon-button{
	float: left;
}

.d-time-label{
	display: inline-block;
    color: #364056;
    padding: 0 5px;
    line-height: 24px;
	height: 24px;
    vertical-align: baseline;
}

.start-button {
    width: 32px;
    height: 32px;
    background: transparent url(desktop/start-button.png) 0 0 no-repeat;
}

.start-button-hover {
    background-position: 0 -32px;
}

.start-button-toggled {
    background-position: 0 -64px;
}

.d-task-bar {
    overflow: visible;
}

.d-task-bar .start-button {
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 800000;
}

.d-dialog .dialog-body-wrap .dialog-body .content-panel{
    padding: 0;
}

.d-widget {
}

.d-widget .caption {
	position: relative;
	height: 24px;
	cursor: move;
}

.d-widget .close {
	display: none;
}

.d-widget-hover .close, .d-widget-focused .close{
	display: block;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	width: 21px;
	height: 21px;
	background: transparent url(desktop/widget-close.png) center center no-repeat;
}

.d-desktop-carousel {
	overflow: hidden;
}

.d-desktop-carousel .items-wrap {
	position: relative;
	height: 100%;
}

.d-desktop-carousel .carousel-item {
	position: absolute;
	left: 0;
	top: 0;
}

.d-desktop-carousel .switcher {
    position: absolute;
    top: 5px;
    left: -9999px;
    height: 26px;
	padding-left: 15px;
	background: url(desktop/switcher-bg.png) 0 0 no-repeat;
}

.d-desktop-carousel .switcher .switcher-right {
	background: url(desktop/switcher-bg.png) right -26px no-repeat;
	height: 26px;
	padding-right: 15px;
}

.d-desktop-carousel .switcher .switcher-center {
	height: 26px;
	background: url(desktop/switcher-bg.png) repeat-x 0 -52px;
}

.d-desktop-carousel .switcher .switch-button{
	float: left;
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: 2px;
	padding:  0 8px;
	width: 22px;
	height: 22px;
	background: url(desktop/switch-icons.png) center 0 no-repeat;
}

.d-desktop-carousel .switcher .switch-button-hover{
	background-position: center -22px;
}

.d-desktop-carousel .switcher .switch-button-current{
	background-position: center -44px;
}

.d-shell {
	background-color: #3D71B8;
	overflow: hidden;
}