<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:d="http://www.bstek.com/dorado/schema"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.bstek.com/dorado/schema http://www.bstek.com/dorado/schema/spring-dorado-7.0.xsd">

	<import resource="jdbc-parser.xml"/>
	<import resource="jdbc-jdbctype.xml"/>
	<import resource="jdbc-dialect.xml"/>
	<import resource="jdbc-key-generator.xml"/>
	<import resource="jdbc-ide.xml"/>
	
	<!-- Dorado -->
	<bean parent="dorado.dataProviderTypeRegister">
		<property name="type" value="jdbc" />
		<property name="classType" value="com.bstek.dorado.jdbc.JdbcDataProvider" />
	</bean>
	<bean parent="dorado.dataResolverTypeRegister">
		<property name="type" value="jdbc" />
		<property name="classType" value="com.bstek.dorado.jdbc.JdbcDataResolver" />
	</bean>
	<bean id="dorado.jdbc.jdbcEngineStartupListener" class="com.bstek.dorado.jdbc.JdbcEngineStartupListener">
		<property name="dbmManager" ref="dorado.jdbc.dbmManager"/>
		<property name="keyGeneratorManager" ref="dorado.jdbc.keyGeneratorManager"/>
		<property name="jdbcTypeManager" ref="dorado.jdbc.jdbcTypeManager"/>
	</bean>
	
	<!-- Jdbc Components -->
	<bean id="dorado.jdbc.enviromentManager" class="com.bstek.dorado.jdbc.config.DefaultJdbcEnviromentManager"/>
	<bean id="dorado.jdbc.dbmManager" class="com.bstek.dorado.jdbc.config.DefaultDmbManager">
		<property name="xmlDocumentBuilder" ref="dorado.xmlDocumentBuilder" />
		<property name="xmlParserHelper" ref="dorado.xmlParserHelper"/>
		<property name="modelStrategy" ref="dorado.jdbc.modelStrategy"/>
		<property name="interceper" ref="dorado.jdbc.globalIntercepter"/>
	</bean>
	<bean id="dorado.jdbc.modelGeneratorSuit" class="com.bstek.dorado.jdbc.support.DefaultModelGeneratorSuit"/>
	<bean id="dorado.jdbc.jdbcTypeManager" class="com.bstek.dorado.jdbc.support.DefaultJdbcTypeManager"/>
	<bean id="dorado.jdbc.keyGeneratorManager" class="com.bstek.dorado.jdbc.support.DefaultKeyGeneratorManager"/>
	<bean class="com.bstek.dorado.jdbc.support.OddLogger"/>
	
	<!-- Custom Point -->
	<bean id="dorado.jdbc.modelStrategy" class="com.bstek.dorado.jdbc.support.DefaultModelStrategy">
		<property name="dataTypeManager" ref="dorado.dataTypeManager"/>
		<property name="dataProviderManager" ref="dorado.dataProviderManager"/>
	</bean>
	<bean id="dorado.jdbc.globalIntercepter" class="com.bstek.dorado.jdbc.support.DefaultJdbcIntercepter"/>
	
	<!-- Template -->
	<bean id="dorado.jdbcConfigLoader" class="com.bstek.dorado.jdbc.config.JdbcConfigLoader" abstract="true">
		<property name="dbmManager" ref="dorado.jdbc.dbmManager"/>
	</bean>
	<bean id="dorado.jdbcEnvTemplate" class="com.bstek.dorado.jdbc.support.DefaultJdbcEnviroment" abstract="true">
		<property name="manager" ref="dorado.jdbc.enviromentManager"/>
	</bean>
</beans>
