body {
    background-color: white;
}

.anchorclass{
    background: url("anchor.gif") no-repeat scroll left center transparent;
    border: 1px dotted #0000FF;
    cursor: auto;
    display: inline-block;
    height: 16px;
    width: 15px;
}

.selectTdClass{
    background-color:#3399FF !important
}