.i-dialog{
	position: absolute;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.i-dialog .dialog-header{
	font-size: 0%;
	height: 8px;
	position: relative;
}

.i-dialog .dialog-header .dialog-header-left{
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	margin: 0;
}

.i-dialog .dialog-header .dialog-header-right{
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
	height: 8px;
	margin: 0;
}

.i-dialog .dialog-header .dialog-header-center{
	margin: 0 8px 0 8px;
	height: 8px;
}

.i-dialog-resizeable .dialog-header .dialog-header-left{
	cursor: nw-resize;
}

.i-dialog-resizeable .dialog-header .dialog-header-right{
	cursor: ne-resize;
}

.i-dialog-resizeable .dialog-header .dialog-header-center{
	cursor: n-resize;
}

.i-dialog .dialog-body-wrap{
	position: relative;
	overflow: hidden;
}

.i-dialog .dialog-body-wrap .dialog-body-left{
	position: absolute;
	left: 0;
	top: 0;
    bottom: 0;
	width: 8px;
}

.i-dialog .dialog-body-wrap .dialog-body-right{
	position: absolute;
	right: 0;
	top: 0;
    bottom: 0;
	width: 8px;
}

.d-ie6 .i-dialog .dialog-body-wrap .dialog-body-left, .d-ie6 .i-dialog .dialog-body-wrap .dialog-body-right {
    height: expression(this.parentNode.clientHeight + "px");
}

.i-dialog .dialog-body-wrap .dialog-body{
	padding: 0;
	margin: 0 8px 0 8px;
}

.i-dialog-resizeable .dialog-body-wrap .dialog-body-left{
	cursor: w-resize;
}

.i-dialog-resizeable .dialog-body-wrap .dialog-body-right{
	cursor: e-resize;
}

.i-dialog .dialog-body-wrap .dialog-body .content-panel{
	padding: 0;
    *zoom: 1;
}

.i-dialog .dialog-footer{
	font-size: 0%;
	height: 8px;
	position: relative;
}

.i-dialog .dialog-footer .dialog-footer-left{
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
}

.i-dialog .dialog-footer .dialog-footer-right{
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
	height: 8px;
}

.i-dialog .dialog-footer .dialog-footer-center{
	height: 8px;
	margin: 0 8px 0 8px;
}

.i-dialog .dialog-body-wrap .dialog-body .button-panel{
	padding: 12px 8px 12px 8px;
	text-align: center;
	height: 22px;
}

.i-dialog .dialog-body-wrap .dialog-body .button-panel-left{
	text-align: left;
}

.i-dialog .dialog-body-wrap .dialog-body .button-panel-right{
	text-align: right;
}

.i-dialog .dialog-body-wrap .dialog-body .button-panel .i-button{
	margin-left: 1px;
	margin-right: 1px;
}

.i-dialog-resizeable .dialog-footer .dialog-footer-left{
	cursor: sw-resize;
}

.i-dialog-resizeable .dialog-footer .dialog-footer-right{
	cursor: se-resize;
}

.i-dialog-resizeable .dialog-footer .dialog-footer-center{
	cursor: s-resize;
}

.i-dialog-drag-proxy{
	position: absolute;
}

.i-dialog-helper{
	left: -9999px;
	top: -9999px;
}
