.i-menu{
	cursor: default;
	overflow: hidden;
}

.i-menu .group-content{
	position: relative;
	overflow: hidden;
	list-style: none;
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 1px;
	line-height: 100%;
}

.i-menu .group-content .menu-item{
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 1px;
}

.i-menu .group-content .menu-item-hover{
	padding: 0;
}

.i-menu .group-content .menu-item .menu-item-content{
	display: block;
	white-space: nowrap;
	line-height: 16px;
	padding: 2px 10px 2px 3px;
}

.i-menu .group-content .menu-item .menu-item-content .caption{
	padding-left: 5px;
	padding-right: 5px;
}

.i-menu .group-content .menu-item .menu-item-content .icon{
	display: inline-block;
	height: 18px;
	padding-left: 16px;
}

.i-menu .group-content .menu-item-separator{
	padding: 0;
	font-size: 1pt;
	margin-left: 25px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.i-menu-icon-top .group-content .menu-item .menu-item-content{
	text-align: center;
}

.i-menu-icon-top .group-content .menu-item .menu-item-content .icon{
	display: inline-block;
	width: 32px;
	height: 32px;
}

.i-menu-icon-top .group-content .menu-item .menu-item-content .caption{
	display: block;
	width: auto;
	text-align: center;
}

.i-menu .no-content-group{
	display: none;
	float: left;
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
	padding: 0 10px 0 10px;
}

.i-menu-no-content .no-content-group{
	display: block;
}

.i-menu .overflow-top-arrow{
	display: none;
	cursor: pointer;
	font-size: 1%;
	height: 10px;
}

.i-menu .overflow-bottom-arrow{
	display: none;
	cursor: pointer;
	font-size: 1%;
	height: 10px;
}

.i-menu-overflow .overflow-top-arrow, .i-menu-overflow .overflow-bottom-arrow{
	display: block;
}

.d-ie6 .i-menu .overflow-top-arrow, .d-ie6 .i-menu .overflow-bottom-arrow{
	width: 1px;
}

.i-menu-floating{
	position: absolute;
	float: none;
	left: -9999px;
	top: -9999px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
