.d-view {
    width: 100%;
    height: 100%;
}

.d-container {
    margin: 0;
    overflow: hidden;
}

.d-html-container {
    margin: 0;
}

.d-floating {
    position: absolute;
    left: 0;
    top: 0;
}

.d-anchor-layout {
    position: relative;
    overflow: hidden;
}

.d-dock-layout {
    position: relative;
    overflow: hidden;
}

.d-form-layout {
    table-layout: fixed;
}

.d-form-layout-region {
    height: 100%;
}

.d-hbox-layout {
    display: inline-block;
}

.d-hbox-layout-region {
}

.d-vbox-layout {
}

.d-vbox-layout-region {
}