.i-year-month-picker{
	width: 100%;
	height: 200px;
}

.i-year-month-picker td{
	height: 20px;
}

.i-year-month-picker .month-table{
	width: 49%;
	table-layout: fixed;
}

.i-year-month-picker .year-table{
	width: 49%;
	float: right;
	table-layout: fixed;
}

.i-year-month-picker .year-table .btn-row{
	height: 20px;
}

.i-year-month-picker .year-table .number-row td, .i-year-month-picker .month-table .number-row td{
	text-align: center;
	cursor: pointer;
	line-height: 20px;
	padding: 1px;
}

.i-year-month-picker .btns-pane{
	position: absolute;
	float: left;
	clear: left;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 30px;
}

.i-year-month-picker .btns-pane .i-button{
	margin-right: 5px;
}
