<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean parent="dorado.viewConfigFactoryRegister">
		<property name="viewNamePattern" value="dorado/console/**" />
		<property name="viewConfigFactory">
			<bean parent="dorado.xmlViewConfigDefinitionFactory">
				<property name="pathPrefix" value="${view.root}/com/bstek" />
<!-- 				<property name="pathPrefix" value="classpath:com/bstek" /> -->
				<property name="pathSubfix" value=".view.xml" />
			</bean>
		</property>
	</bean>
	
	<bean id="dorado.console.parserTree" class="com.bstek.dorado.console.parser.ParserTree"/>
	
	<bean id="dorado.console.SystemLogMonitor" class="com.bstek.dorado.console.syslog.SystemLogMonitor"/>
	
	<bean id="dorado.console.Starter" class="com.bstek.dorado.console.Starter">
		<property name="order" value="10000"/>
	</bean>
	
	<bean id="dorado.console.Login" class="com.bstek.dorado.console.web.Login"/>
	
</beans>
