body {
    font-family: "Microsoft YaHei", "Verdana";
}

hr {
    border-style: none;
    border-bottom: 1px dashed gray;
}

pre {
    margin: 0;
    padding: 0;
}

ul {
    margin: 2px;
}

code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", "Microsoft YaHei", "Courier", "monospace";
    background: #F0F0F0;
}

.symbol-link {
    cursor: pointer;
    color: #045393;
    font-style: normal;
    text-decoration: underline;
}

.clip-image {
}

.tree-node-name-abstract {
    font-style: italic;
}

.tree-node-type {
    color: gray;
}

.tree-node-info {
    color: gray;
}

.title {
    font-size: 12pt;
    font-weight: bold;
}

.search-result-icon {
    margin: 0 8px -5px 0;
}

.highlight {
    background-color: #FFE8DD;
    border: #FFBC9B 1px solid;
}

.deprecated {
    text-decoration: line-through;
}

.symbol-title {
    margin: 2px 0 4px 0;
    font-size: 12pt;
    color: gray;
}

.package-name {
    font-size: 12pt;
    color: black;
    font-style: normal;
}

.sybmol-name {
    font-size: 16pt;
    color: #0674CE;
    font-style: normal;
    font-weight: bold;
}

.symbol-name-abstract {
    font-style: italic;
}

.sybmol-props {
    margin: 2px 0 6px 0;
}

.sybmol-props .prop-name {
    font-weight: bold;
    vertical-align: top;
    white-space: nowrap;
}

.sybmol-props .prop-value {
}

.sybmol-desc {
    margin: 2px 0;
}

.sybmol-params, .sybmol-sees, .sybmol-examples {
    margin: 2px 12px;
}

.symbol-member {
    padding: 2px 8px;
    border-bottom: 1px dashed gray;
}

.symbol-member-expanded {
    background: #F0F6FF;
}

.member-data-type {
}

.member-visibility {
    width: 64px;
    color: gray;
    display: inline-block;
}

.member-static {
    color: #0674CE;
}

.member-name {
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;
    color: #0674CE;
    font-style: normal;
    text-decoration: underline;
}

.member-name-protected {
    font-style: italic;
}

.member-of {
    color: gray;
    font-style: italic;
}

.member-props {
    margin: 2px 6px;
}

.member-prop, .member-param-writeable {
    color: #DB4700;
    font-weight: bold;
}

.member-default {
}

.member-props {
}

.member-desc, .member-params, .member-returns, .member-exceptions {
    margin-left: 6px;
}

.member-examples {
    margin: 0 6px;
}

.sees-title, .params-title, .returns-title, .exceptions-title, .example-title {
    color: gray;
    font-weight: bold;
    font-style: italic;
    margin-top: 16px;
}

.member-param-name {
    color: #045393;
    font-weight: bold;
}

.member-param-name-optional {
    font-style: italic;
}

.member-param-default {
    color: #804000;
}

.member-param-writeable {
	color: #DB4700;
    font-weight: bold;
}
