.d-section .container{
	background: #F0F0F0;
}

.d-section-caption-bar{
	background: url(base/section-caption-bar-bg.png) top repeat-x;
	height: 21px;
	border: 1px solid #808080;
    padding: 0 0 0 6px;
}

.d-section-caption-bar .caption{
	height: 24px;
}

.d-section-caption-bar .caption-bar-icon{
	width: 16px;
	background: transparent 0 center no-repeat;
}

.d-accordion .current-section .d-section-caption-bar{
	background: url(base/section-caption-bar-bg.png) bottom repeat-x;
	height: 21px;
	border: 1px solid #aaaaaa;
}

.d-accordion{
	border: 1px #A1A1A1 solid;
	background: white;
}

.d-accordion .d-menu{
	border: 0;
	background: #FAFAFA;
}
