.d-caption-bar{
    height: 22px;
    padding: 0;
	background: #F8F8F8 url(base/captionbar-bg.png) bottom repeat-x;
}

.d-caption-bar .caption-bar-icon{
	background: transparent 0 center no-repeat;
}
