.d-iframe{
	border: 1px solid #ddd;
}

.d-iframe .frame-loading-cover{
	background: white;
}

.d-iframe .frame-loading-cover .frame-loading-image{
	background: url(common/loading.gif) center center no-repeat;
}
