<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- JdbcEnviroment -->
    <bean parent="dorado.jdbcEnvTemplate">
        <property name="name" value="mssql2000" />
        <property name="dataSource">
            <bean class="com.microsoft.sqlserver.jdbc.SQLServerDataSource">
                <property name="user" value="sa"/>
                <property name="password" value="bstek"/>
                <property name="databaseName" value="DORADOJDBC"/>
                <property name="serverName" value="192.168.18.210"/>
                <property name="portNumber" value="1433"/>
            </bean>
        </property>
        <property name="dialect">
            <bean parent="dorado.jdbc.mssqlDialect"/>
        </property>
    </bean>
    
    <!-- DBM configuration -->
    <bean parent="dorado.jdbcConfigTemplate">
        <property name="configLocations">
            <list>
                <value>classpath:com/bstek/dorado/jdbc/mssql/v2000/*.dbm.xml</value>
            </list>
        </property>
    </bean>
</beans>
