.d-color-picker {
    font-size: 9pt;
    color: #385065;
    border: 1px solid #9FAC87;
    padding: 3px;
    width: 160px;
    background-color: white;
    position: absolute;
}

.d-color-picker .clear-color, .d-color-picker .more-color {
    padding: 1px;
    cursor: default;
    border: 1px solid #FFFFFF;
    text-align: center;
    margin-bottom: 3px;
}

.d-color-picker .clear-color-over, .d-color-picker .more-color-over {
    border: 1px solid #000080;
    background-color: #FFEEC2;
}

.d-color-picker .clear-color {
    margin-bottom: 3px;
}

.d-color-picker .more-color {
    margin-top: 3px;
}

.d-color-picker .color-preview {
    position: absolute;
    border: 1px solid #9FAC87;

    top: 6px;
    left: 5px;
    font-size: 1px;
    width: 30px;
    height: 12px;
}

.d-color-picker .color-preview-text {
}

.d-color-picker .simple-color-table {
    width: 100%;
    border-collapse: collapse;
}

.d-color-picker .simple-color-table td {
    border: 1px solid #ACA899;
    font-size: 1px;
    line-height: 3px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.d-color-picker .more-color-table {
    display: none;
    border-collapse: collapse;
    cursor: pointer;
    margin-top: 3px;
}

.d-color-picker .more-color-table td {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    font-size: 0%;
    line-height: 3px;
    cursor: pointer;
}

.d-color-picker-more {
    width: 234px;
}

.d-color-picker-more .simple-color-table {
    display: none;
}

.d-color-picker-more .more-color {
    display: none;
}

.d-color-picker-more .more-color-table {
    display: block;
}

.d-emoticon-picker {
    position: absolute;
}

.d-emoticon-picker table {
    border-collapse: collapse;
    table-layout: fixed;
    background-image: url(html-editor/emotion/all-emotions.png);
    width: 375px;
    height: 175px;
}

.d-emoticon-picker .emoticon-cell {
    border: 1px solid #E2E1EF;
    width: 24px;
    height: 24px;
}

.d-emoticon-picker .cur-emoticon-cell {
    background-color: #aaa;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.d-emoticon-picker .emoticon-preview {
    border: 1px solid #85F314;
    background-color: white;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
}

.d-emoticon-picker .emoticon-preview img {
    margin: 25px 0 0 25px;
    width: 24px;
    height: 24px;
}

.d-grid-picker {
    position: relative;
}

.d-grid-picker table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.d-grid-picker .element-cell {
    border: 1px solid #E2E1EF;
    height: 22px;
    text-align: center;
}

.d-grid-picker .cur-element-cell {
    background-color: #aaa;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.d-grid-picker .element-preview {
    border: 1px solid #85F314;
    background-color: white;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
}

.d-grid-picker .element-preview div {
    margin: 25px 0 0 25px;
    width: 24px;
    height: 24px;
}

.d-html-editor {
    margin: 0;
    padding: 0;
    border: 1px solid gray;
}

.d-htmleditor-toolbar {
    padding: 0;
    margin: 0;
    background: #efefef url(html-editor/toolbar-bg.png) repeat-x bottom;
}

.d-htmleditor-toolbar .i-text-box {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin-top: 1px;
}

.d-htmleditor-toolbar .d-toolbar-label{
    display: inline-block;
    vertical-align: top;
}

.d-htmleditor-toolbar .i-toolbar-sep {
    display: inline-block;
}

.d-ie6 .d-htmleditor-toolbar .d-toolbar-label, .d-ie7 .d-htmleditor-toolbar .d-toolbar-label,
.d-ie6 .d-htmleditor-toolbar .i-toolbar-sep, .d-ie7 .d-htmleditor-toolbar .i-toolbar-sep {
    display: inline;
}

.d-htmleditor-toolbar .fullscreen-button {
    float: right;
}

.d-html-editor .editor-wrap {
    clear: both;
    position: relative;
}

.browse-button-wrap {
    position: absolute;
    left: 0;
    top: 0;
}

.browse-button-wrap form {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
}

.browse-button-wrap  .hidden-file {
    opacity: 0;
    filter: alpha(opacity=0);
    text-align: left;
    width: 60px;
    height: 20px;
    direction: rtl;
}

.popup {
    border: 1px solid #DCAC6C;
    background-color: #fff6d9;
    padding: 5px;
    font-size: 10pt;
}

span.clickable {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

span.unclickable {
    color: gray;
    cursor:default;
}

.html-editor-icon {
    background: transparent url(html-editor/icons.gif);
}

.html-editor-icon.undo {
    background-position: -160px 0;
}

.html-editor-icon.redo {
    background-position: -100px 0;
}

.html-editor-icon.bold {
    background-position: 0 0;
}

.html-editor-icon.italic {
    background-position: -60px 0;
}

.html-editor-icon.underline {
    background-position: -140px 0;
}

.html-editor-icon.strikethrough {
    background-position: -120px 0;
}

.html-editor-icon.subscript {
    background-position: -600px 0;
}

.html-editor-icon.superscript {
    background-position: -620px 0;
}

.html-editor-icon.blockquote {
    background-position: -220px 0;
}

.html-editor-icon.forecolor {
    background-position: -720px 0;
}

.html-editor-icon.backcolor {
    background-position: -760px 0;
}

.html-editor-icon.inserttable {
    background-position: -580px -20px;
}

.html-editor-icon.justifyleft {
    background-position: -460px 0;
}

.html-editor-icon.justifycenter {
    background-position: -420px 0;
}

.html-editor-icon.justifyright {
    background-position: -480px 0;
}

.html-editor-icon.justifyjustify {
    background-position: -440px 0;
}

.html-editor-icon.insertorderedlist {
    background-position: -80px 0;
}

.html-editor-icon.insertunorderedlist {
    background-position: -20px 0;
}

.html-editor-icon.horizontal {
    background-position: -360px 0;
}

.html-editor-icon.link {
    background-position: -500px 0;
}

.html-editor-icon.code {
    background-position: -280px -40px;
}

.html-editor-icon.image {
    background-position: -380px 0;
}

.html-editor-icon.emoticon {
    background-position: -60px -20px;
}

.html-editor-icon.spechars {
    background-position: -240px 0;
}

.html-editor-icon.help {
    background-position: -340px 0;
}

.html-editor-icon.print {
    background-position: -440px -20px;
}

.html-editor-icon.preview {
    background-position: -420px -20px;
}

.html-editor-icon.selectall {
    background-position: -400px -20px;
}

.html-editor-icon.searchreplace {
    background-position: -520px -20px;
}

.html-editor-icon.map {
    background-position: -40px -40px;
}

.html-editor-icon.gmap {
    background-position: -260px -40px;
}

.html-editor-icon.video {
    background-position: -320px -20px;
}

.html-editor-icon.time {
    background-position: -160px -20px;
}

.html-editor-icon.date {
    background-position: -140px -20px;
}

.html-editor-icon.cut {
    background-position: -680px 0;
}

.html-editor-icon.copy {
    background-position: -700px 0;
}

.html-editor-icon.paste {
    background-position: -560px 0;
}

.html-editor-icon.formatmatch {
    background-position: -40px 0;
}

.html-editor-icon.pasteplain {
    background-position: -360px -20px;
}

.html-editor-icon.directionalityltr {
    background-position: -20px -20px;
}

.html-editor-icon.directionalityrtl {
    background-position: -40px -20px;
}

.html-editor-icon.source {
    background-position: -260px -0px;
}

.html-editor-icon.removeformat {
    background-position: -580px 0;
}

.html-editor-icon.unlink {
    background-position: -640px 0;
}

.html-editor-icon.insertrow {
    background-position: -740px -20px;
}

.html-editor-icon.insertcol {
    background-position: -700px -20px;
}

.html-editor-icon.mergeright {
    background-position: -60px -40px;
}

.html-editor-icon.mergedown {
    background-position: -80px -40px;
}

.html-editor-icon.splittorows {
    background-position: -100px -40px;
}

.html-editor-icon.splittocols {
    background-position: -120px -40px;
}

.html-editor-icon.insertparagraphbeforetable {
    background-position: -140px -40px;
}

.html-editor-icon.deleterow {
    background-position: -660px -20px;
}

.html-editor-icon.deletecol {
    background-position: -640px -20px;
}

.html-editor-icon.splittocells {
    background-position: -800px -20px;
}

.html-editor-icon.mergecells {
    background-position: -760px -20px;
}

.html-editor-icon.deletetable {
    background-position: -620px -20px;
}

.html-editor-icon.cleardoc {
    background-position: -520px 0;
}

.html-editor-icon.fullscreen {
    background-position: -100px -20px;
}

.html-editor-icon.tablesuper {
    background-position: -100px -20px;
}

.html-editor-icon.anchor {
    background-position: -200px 0;
}

.html-editor-icon.indent {
    background-position: -400px 0;
}

.html-editor-icon.outdent {
    background-position: -540px 0;
}

.html-editor-icon.table {
    background-position: -580px -20px;
}

.html-editor-icon.delete {
    background-position: -360px -40px;
}